body {
    overflow-x: hidden;
}

p {
    line-height: 2.5;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 12px;
}

a {
    color: #fed136;
}

a:hover {
    color: #fec503;
}

.text-primary {
    color: #fed136 !important;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-weight: 900;
    color: rgb(41, 55, 77);
    padding: 10px;
    background-color: rgba(227, 207, 215, 0.2);
}

h2,
h3,
h4,
h6 {
    font-weight: 700;
    font-family: 'Cantata One', serif;
    color: #29374d;
    line-height: 1.6;
}

h5 {
    font-family: 'Cantata One', serif;
    font-size: 18px;
    line-height: 1.6;
}

.page-section {
    padding: 100px 0;
}

.page-section h5.section-heading {
    font-size: 14px;
    max-width: 600px;
    margin: 15px auto;
    border-bottom: 1px solid rgb(227, 207, 215);
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
}

.page-section h2.section-subheading {
    font-size: 20px;
    font-weight: 400;
    max-width: 700px;
    color: #d69b56;
    margin: 45px auto 75px;
    text-transform: none;
    font-family: 'Cantata One', serif;
}

::-moz-selection {
    background: rgb(209, 188, 188);
    text-shadow: none;
}

::selection {
    background: rgb(209, 188, 188);
    text-shadow: none;
}

img::-moz-selection {
    background: transparent;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

#center-btn {
    margin: 50px auto 0px;
    width: 230px;
}

.btn {

    font-weight: 600;
    padding: 20px 45px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;

}

.btn-custom {
    background: rgba(255, 255, 255, 1);
    border-color: rgba(227, 207, 215, 1);
    color: rgba(51, 51, 51, 1);
    font-size: 12px;
    border-radius: 0px;
    border-width: 1px;
}


.btn-custom:hover {
    color: rgba(51, 51, 51, 1);
    background: rgb(227, 207, 215);
    border-color: rgb(227, 207, 215);
}

.btn-custom:active,
.btn-custom:focus {
    background: rgba(235, 235, 235, 1);
    border-color: rgba(219, 202, 202, 1);
    color: rgba(51, 51, 51, 1);
}


header.masthead {
    text-align: center;
    color: white;
}

.video-container {
    position: fixed;
    top: -20px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 900px;
    z-index: -2;

}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
}

.video {
    top: 0px;
    margin-top: 0px;
}


.overlay {
    margin: 40px auto;

}

.overlay img {
    margin: 0px auto 30px;
}

.intro-lead-in {
    margin-top: 8%;
    text-align: center;
    color: black;
    font-size: 35px;
}

.upper-body {
    margin-top: 1000px;
    background-color: white;
    z-index: -1;
}

@media (max-width: 768px) {
    .upper-body {
        margin-top: 600px;
        background-color: white;
        z-index: -1;
    }
    h1 {
        font-size: 22px;
        background-color: rgba(227, 207, 215, 0.4);
        color: rgb(19, 31, 51);
    }
    .overlay img {
        width: 100px;
    }

}

/* section with 3 pictures and links to PDF*/

@media (max-width: 1000px) {
    .upper-body {
        margin-top: 500px;
        background-color: white;
        z-index: -1;
    }
}

@media (max-width: 400px) {
    .upper-body {
        margin-top: 220px;
        background-color: white;
        z-index: -1;
    }
}

#portfolio {
    background-color: aqua;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 10px;
    padding: 10px;
}


#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 350px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolio .portfolio-item .text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 150px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;

}

#portfolio .portfolio-item :hover .text-content {
    font-size: 20px;
    color: sandybrown;
}


#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

/*footer*/

.footer {
    padding: 25px 0;
    text-align: center;
    background-color: rgba(227, 207, 215, 0.4);
}

.footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 12px;
}

.footer ul.quicklinks {
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 12px;
}

ul.social-buttons {
    margin-bottom: 5px;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #29374d;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #d69b56;
    color: white;
}
